
.nut{
    width: 200px;
    padding: 10px 0;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    transition: all .5s;
}
