.danhsach-sanpham {
  .chiacot {
    display: flex;
    .phantrai {
      width: 25%;
      padding-right: 1em;
      .box-danhmuc {
        box-shadow: 0 0 5px rgb(222, 222, 222);
        background-color: white;
        text-align: center;

        .tieude{
          background-color: rgb(240, 240, 240);
          padding: 1em;
          font-size: 1.3rem;
          color: $color-grey;
        }
        .danhmuc-item{
          border-bottom: 1px solid rgb(230, 230, 230);
          .link{
            display: block;
            color: rgb(101, 101, 101);
            font-size: 1.1rem;
            font-weight: bold;
            padding:0.5em;
            &.hoatdong{
              color: $color-primary ;
            }
          }
        }
      }
    }
    .phanphai {
      width: 65%;
      flex-grow: 1;
      .hop-tieude {
        padding: 0.5em;
        box-shadow: 0 0 5px rgb(222, 222, 222);
        background-color: white;
        color: $color-primary;
        font-size: 1.5rem;
      }
      .boloc {
        padding: 0.5em;
        box-shadow: 0 0 5px rgb(222, 222, 222);
        background-color: white;
        display: flex;
        justify-content: space-between;
        .timtheoten {
          // display: inline-block;
        }
      }
      .sanpham-list {
        display: flex;
        flex-wrap: wrap;
        .sanpham-item {
          width: 25%;
          padding: 1em;
          .sanpham {
            width: 100%;
            box-shadow: 0 0 5px rgb(229, 229, 229);
            border-radius: 5px;
            position: relative;
            transition: all 0.5s;
            background-color: white;
            .anhdaidien {
              width: 100%;
            }
            .noidung {
              padding: 1em;
              .ten {
              }
              .duoiten {
                margin-top: 1em;
                display: flex;
                justify-content: space-between;
                .gia {
                  color: $color-primary;
                  font-weight: bold;
                }
                .daban {
                  color: $color-grey;
                  font-size: 0.9rem;
                }
              }
            }
            .yeuthich {
              position: absolute;
              top: 10px;
              left: -5px;
              background-color: $color-primary;
              font-size: 0.8rem;
              color: white;
              padding: 2px 5px;
              border-radius: 2px;
            }
            .giamgia {
              position: absolute;
              right: 0;
              top: 0;
              background-color: $color-secondary;
              color: $color-primary;
              padding: 5px;
              font-size: 0.9rem;
              padding-bottom: 15px;
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 77%, 0 100%);
            }
            .nut-tuongtu {
              position: absolute;
              bottom: 0;
              transform: translateY(100%);
              width: 100%;
              padding: 0.5em;
              background-color: $color-primary;
              color: $color-white;
              text-align: center;
              display: none;
            }
            &:hover {
              border: 1px solid $color-primary;
              transform: translateY(-2px);
              .nut-tuongtu {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
